<html>
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8" />
    <title>SigmaDiff</title>
    <link rel="stylesheet" href="SigmaDiff.css">
    <style type="text/css">
        table.diff {font-family:Courier; border:medium;}
        .diff_header {background-color:#e0e0e0}
        td.diff_header {text-align:right}
        .diff_next {background-color:#c0c0c0}
        .diff_add {background-color:#aaffaa}
        .diff_chg {background-color:#ffff77}
        .diff_sub {background-color:#ffaaaa}
    </style>
</head>
<body>
<img src="SigmaDiff.png" alt="Making the Diff easier">

<H1>Statistique</H1>
<table class="paleBlueRows">
    <thead>
        <tr><th>Quategorie</th><th>nb</th></tr>
    </thead>
    <tbody>
    {% for name, value in data['stat'].items() %}
        <tr><td>{{ name }}</td><td>{{ value }}</td></tr>
    {% endfor %}
    </tbody>
</table>
<H1> Rule remove </H1>
<table class="paleBlueRows">
    <thead>
        <tr><th>Name</th><th>Id</th></tr>
    </thead>
    <tbody>
    {% for row in data['remove'] %}
        <tr><td>{{ row['old_name'] }}</td><td>{{ row['uuid'] }}</td></tr>
    {% endfor %}
    </tbody>
</table>
<H1> Rule rename </H1>
<table class="paleBlueRows">
    <thead>
        <tr><th>Name</th><th>New Name</th><th>Id</th></tr>
    </thead>
    <tbody>
    {% for row in data['rename'] %}
        <tr><td>{{ row['old_name'] }}</td><td>{{ row['new_name'] }}</td><td>{{ row['uuid'] }}</td></tr>
    {% endfor %}
    </tbody>
</table>
<H1> Rule added </H1>
<table class="paleBlueRows">
    <thead>
        <tr><th>Name</th><th>Id</th></tr>
    </thead>
    <tbody>    
    {% for row in data['added'] %}
        <tr><td>{{ row['new_name'] }}</td><td>{{ row['uuid'] }}</td></tr>
    {% endfor %}
    </tbody>    
</table>

<H1> Rule important change </H1>
    {% for row in data['change'] %}
      <H2>{{ row['name'] }}</H2>
      id : {{ row['id'] }}
      {{ row['diff'] }}
    {% endfor %}

</body>
</html>